
@{
    Layout = null;
}

<a href="/Default/Urunler/">Ürünler Sayfası</a>
<a href="/Default/Musteriler/">Müşteri Sayfası</a>


<h1>MESAJ LİSTESİ</h1>
<h1>------------------------</h1>

<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>

<h3>Toplam: @ViewBag.t</h3>

<h3>@ViewBag.d</h3>


<h3>@ViewBag.v</h3>

<h2>SONUÇ: @ViewBag.tp</h2>


<h2>Faktöriyel: @ViewBag.faktor</h2>


